.inline-form-small {
    background-color: #fff;
    border: 0.0625rem solid #a9afbb;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0.25rem;
}

.inline-form-small.listings{
    min-width: 50rem;
    max-width: 60rem;
}

.destination-container-input {
    position: relative;
    box-sizing: inherit;
}

.search-input-prefix {
    padding: 1rem;
    position: absolute;
    top: 4px;
}

.input-x {
    position: absolute;
    right: 0rem;
    top: 4px;
}

.input-button-x {
    align-items: center;
    display: flex;
    height: 3rem;
}

.input-reset img {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.guests-selection2 {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0.5rem, rgba(0, 0, 0, 0.4) 0px 4px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin-top: 5rem;
    position: absolute;
    width: 13rem;
    z-index: 600;
    border-radius: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.guests-selection2.listings {
    left: 66%;
}

.guests-selection2.users {
    margin-left: 29%;
}

.searchBar2-cal {
    position: absolute;
    transform: translateX(-45%);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
    left: 50%;
    margin-top: .5rem;
    position: absolute;
    z-index: 600;
    /* border-radius: 1.5rem; */
}