.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8px;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

img {
  margin-right: 10px;
}

.background {
  width: 100%;
  height: 400px;
  background: url("../../assets/pictures/icons/Screenshot 2023-11-13 at 1.49.53 PM.png") center/120%;
  border-radius: 25px;
}

.background h1 {
  position: absolute;
  font-size: 60px;
  top: 16%;
  left: 18.4%;
  color: white;
  text-align: center;
  font-weight: 700;
}

.background p {
  position: absolute;;
  font-size: 26px;
  top: 25%;
  left: 18.4%;
  color: white;
  text-align: center;
  font-weight: 550;
}

.group-photo {
  position: absolute;
  width: 23%;
  height: auto;
  top: 14%;
  right: 17.5%;
}

.arrow-photo {
  position: absolute;
  width: 9%;
  height: auto;
  top: 32.5%;
  left: 29%;
}

.search-bar {
  position: relative;
  display: flex;
  border: 1px solid white;
  background-color: white;
  align-items: center;
  padding: 5px;
  top: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  box-shadow: 0 0 70px rgb(158, 6, 158);
  border-radius: 25px;
  height: 64px;
}

.search-bar input {
  border: none;
  outline: none;
  margin-top: 7.5px;
}

.search-bar input:not(:last-child) {
  margin-left: 15px;
}

.search-bar input:hover {
  border: 2px solid #d3d3d3df;
  border-radius: 15px;
}

.search-bar button {
  background-color: #F25621;
  height: 100%; 
}
.search-bar button:hover {
  box-shadow: 0 0 10px #F25621;
}

.search-bar button::after {
  content: none;
}

.cancellation img {
  margin-bottom: -5px;
}

.cancellation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -.5%;
  height: 100%;
  font-family: Poppins;
}

#calender {
  color: white;
}

.bold {
  font-family: Poppins-bold;
}

.boxContainer {
  display: flex;
}

.box {
  width: 430px;
  height: 502.75px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box1 {
  position: relative;
  background-color: #f6a90e;
}

.profile {
  width: 240px; 
  height: auto; 
  position: absolute; 
  bottom: 0;
  left: 25%;
}

#box2 {
  position: relative;
  background-color: #00e0ce
}

.message {
  width: 240px; 
  height: auto; 
  position: absolute; 
  bottom: 0;
  left: 25%;}

#box3 {
  position: relative;
  background-color: #2767e7
}

.walking {
  width: 240px; 
  height: auto; 
  position: absolute; 
  top: 0;
  left: 25%;
}

#boxH1 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: -10px;
  font-family: Poppins-bold;
}

#boxp {
  font-size: .8em;
  margin-bottom: 5px;
  font-family: Poppins;
}

.card-tag1 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 1.3em;
}

.card-tag2 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 1.3em;
}

.card-tag3 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 26em;
}

.let-go-button {
  width: 100%;
  height: 40px;
  background-color: #F25621;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.let-go-button:hover {
  background-color: #c44c24;
}

.let-go-button::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: -15px;
  left: 10%;
}  