.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8px;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

img {
  margin-right: 10px;
}

.background {
  width: 100%;
  height: 400px;
  align-items: flex-start;
  background-image: url(https://a.hwstatic.com/image/upload/v1675960377/pwa/bg.desktop.svg);
  border-radius: 1.5rem;
  justify-content: center;
  margin: 0 2.5rem 2.5rem;
}

.background h1 {
  position: absolute;
  color: white;
  margin-left: 2.5%;
  font-size: 4rem;
  letter-spacing: -.025rem;
  line-height: 5rem;
  text-align: left;
}

.background p {
  position: absolute;
  font-size: 1.6rem;
  top: 13.5rem;
  margin-left: 2.5%;
  color: white;
  letter-spacing: -.025rem;
  line-height: 5rem;
  text-align: left;
  font-family: Poppins-bold;
}

.group-photo {
  top: 9rem;
  right: 17.5%;
  display: block;
  position: absolute;
  width: 425px;
}

.arrow-photo {
  position: absolute;
  width: 11rem;
  top: 19.75rem;
  left: 23%;
}

.background-text {
  align-items: flex-start;
  justify-content: center;
  max-width: calc(100% - 320px);
  min-height: 17.3125rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.background-images {
  display: flex;
  flex-direction: row;
}

.search-bar-container {
  position: relative;
  top: 5.5rem;
}

.inline-wrapper {
  box-shadow: 0 0 70px rgb(158, 6, 158);
  border-radius: 16px;
  max-width: 90%;
  margin: auto;
}

.inline-form {
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  gap: 0.25rem;
  padding: 0.25rem;
}

.destination-container {
  width: 100%;
}

.input-inner {
    position: relative;
}

.input-prefix {
    position: absolute;
    top: 4px;
    z-index: 1;
    padding: 1rem;
}

.input-wrapper input {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    text-overflow: ellipsis;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5rem;
    border-style: none;
    border-radius: 1rem;
    margin: 0px;
}

.input-wrapper input:hover {
  box-shadow: rgb(169, 175, 187) 0px 0px 0px 0.125rem inset;
}

.input-wrapper input:focus {
  outline: none;
  box-shadow: rgb(18, 20, 23) 0px 0px 0px 0.125rem inset;
}

.input-label {
  color: rgb(99, 108, 125);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    left: 0px;
    letter-spacing: 0px;
    line-height: 1.5rem;
    overflow-x: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0px;
    width: 100%;
    z-index: 1;
    padding: 1rem;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    margin-left: 32.5px;
}

.input-wrapper input:focus + .input-label,
.input-wrapper input:placeholder-shown + .input-label,
.input-wrapper.non-empty input + .input-label,
.input-label2,
.input-label3,
.input-label4 {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0125rem;
    line-height: 1rem;
    transform: translateX(0) translateY(-0.5rem);
    margin-top: -5px;
}
.input-label2,
.input-label3 {
  margin-left: 17.5%;
}

.divider {
  border-right: 0.0625rem solid #a9afbb;
  margin-right: 7.5px;
  height: 3rem;
  width: 0.0625rem;
}

.cancellation img {
  margin-bottom: -5px;
}

.cancellation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -.5%;
  height: 100%;
  font-family: Poppins;
}

#calender {
  color: white;
}

.bold {
  font-family: Poppins-bold;
}

.boxContainer {
  display: flex;
}

.box {
  width: 430px;
  height: 502.75px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box1 {
  position: relative;
  background-color: #f6a90e;
}

.profile {
  width: 240px; 
  height: auto; 
  position: absolute; 
  bottom: 0;
  left: 25%;
}

#box2 {
  position: relative;
  background-color: #00e0ce
}

.message {
  width: 240px; 
  height: auto; 
  position: absolute; 
  bottom: 0;
  left: 25%;}

#box3 {
  position: relative;
  background-color: #2767e7
}

.walking {
  width: 240px; 
  height: auto; 
  position: absolute; 
  top: 0;
  left: 25%;
}

#boxH1 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: -10px;
  font-family: Poppins-bold;
}

#boxp {
  font-size: .8em;
  margin-bottom: 5px;
  font-family: Poppins;
}

.card-tag1 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 1.3em;
}

.card-tag2 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 1.3em;
}

.card-tag3 {
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  padding: 0rem 1rem 0rem .5rem;
  width: fit-content;
  margin-top: 26em;
}

.let-go-button {
  margin-top: 2px;
  width: 25%;
  height: 40px;
  background-color: #F25621;
  color: white;
  padding: 10px 0px 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-right: 0px; */
}

.let-go-button:hover {
  box-shadow: 0 8px 24px rgba(242,85,33,.35);
}

.this-is {
  display: flex;
  margin-top: 2rem;
}

.this-is-text {
  margin-left: 21.5%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.this-is-car {
  width: 25%;
}

.this-is-car img {
  height: 100%;
  width: 100%;
}

.this-text p {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -.00625rem;
  line-height: 1.625rem;
  margin-bottom: 0.5rem;
  font-family: Poppins-bold;
}

.this-text h2 {
  padding-right: 10%;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -.3px;
  line-height: 4rem;
  font-family: Poppins-bold;
}

.this-text button {
  margin-left: 0;
  margin-right: 0;
  /* margin-top: 3rem; */
  background: linear-gradient(275.42deg,#f6a90e 17%,#f8bf0a 79.31%);
  position: relative;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -.1px;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
}

.this-text button::before {
  background: #f9bf0b;
    border-radius: 3px;
    content: "";
    height: 16px;
    position: absolute;
    top: calc(100% - 13px);
    transform: skewY(-34deg) rotate(90deg);
    width: 20px;
    z-index: -1;
}

.arrow-down-this {
  margin-left: 0.5rem;
  margin-right: -5px;
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
}

.commited-world {
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  max-width: 85.5rem;
  align-items: center;
  display: grid;
  margin: 7rem 0 3rem;
  margin-left: auto;
  margin-right: auto;
}

.world-pic img {
  display: block;
  margin: 0 auto;
  max-height: 30.5rem;
  object-fit: contain;
  width: 42rem;
}

.world-pic p {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  letter-spacing: .00625rem;
  line-height: 1.25rem;
  font-weight: 800;
}

.destination-selection {
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 24px rgba(0,0,0,.15);
  left: 0;
  max-height: 15.5rem;
  overflow: scroll;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 4.5rem;
  z-index: 600;
  box-sizing: inherit;
  margin: 0;
  width: 40%;
  margin-left: 6%;
}

.destination-selection-ul {
  padding: 0;
  box-sizing: inherit;
    margin: 0;
}

.destination-selection-li {
  list-style: none;
  outline: none;
  padding: 0;
}

.destination-selection-button {
  align-items: center;
    background: none;
    border: none;
    border-radius: 1rem;
    color: #121417;
    cursor: pointer;
    display: flex;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    justify-content: space-between;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
    outline: none;
    padding: 1rem;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
}

.destination-selection-button:hover {
  box-shadow: rgb(169, 175, 187) 0px 0px 0px 0.125rem inset;
}

.guests-selection {
  background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0.5rem, rgba(0, 0, 0, 0.4) 0px 4px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin-top: 5rem;
    position: absolute;
    left: 75%;
    width: 18%;
    z-index: 600;
    border-radius: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.guests-inner-selection {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 1 / 1 / 2 / 3;
}

.guests-label-selection{
  align-items: center;
    display: flex;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.guests-counter {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.guests-minus,
.guests-plus {
  margin-top: 6px;
  padding: 0.75rem;
  align-items: center;
  box-shadow: rgb(18, 20, 23) 0px 0px 0px 0.125rem inset;
  cursor: pointer;
  display: flex;
  background: rgb(255, 255, 255);
  border-style: none;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
}

.guests-minus:hover,
.guests-plus:hover {
  background: rgb(241, 242, 244);
}

.guests-counter-number {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.00625rem;
  line-height: 1.25rem;
  text-align: center;
  width: 2.1875rem;
  border-style: none;
  border: none;
  margin: 0px 0.25rem;
  outline: none;
}