.top-picture {
    height: 260px;
    width: calc(100% - 12px);
    margin: 0 6px;
    background-color: lightgray;
  }
  
.title {
    font-family: Poppins-bold;
    font-size: 50px;
    margin-left: 10%;
    margin-bottom: 0;
}

.listings-p {
    font-family: Poppins;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 0;
}

.wifi,
.coffee{
    font-size: 12px;
    margin-top: 0;
    background-color: #f1f5fd;
    width: 25px;
}

.coffee {
    margin-top: 2px;
}

.coffee img {
    position: relative;
    top: 2px; 
    left: 2px;
  }  

.wifi-text {
    margin-left: 10%;
    font-family: Poppins;
}

.tabs {
    height: 50px;
    background-color: rgb(237, 237, 237);
  }

.tabs-name {
    margin-right: 30px;
    font-family: Poppins;
    font-size: 16px;
}

.choose-room,
.about,
.house-rules,
.facilities {
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 2%;
    font-family: Poppins-bold;
    font-size: 24px;
}

.checkInandOut {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 2%;
  }
  
  .checkInContainer,
  .checkOutContainer {
    display: flex;
    align-items: center;
  }
  
  .checkIn,
  .checkOut {
    margin-right: 15px; 
  }

  .check_in,
  .check_out {
    font-family: Poppins;
    margin-right: 10px;
  }
  
  
  .separator {
    height: 30px; 
    border-left: 2px solid #ccc;
    margin: 0 10px;
  }
  
  .checkInText,
  .checkOutText {
    display: flex;
    flex-direction: column;
    font-family: Poppins-bold;
    font-size: 14px;
  }

.room-type {
    margin-left: 2%;
    font-family: Poppins-bold;
    font-size: 18px;
}

.private-picture-box,
.shared-picture-box {
    width: 10%;
    margin-top: 10px;
    margin-left: 10px;
    height: 165px;
    border: 1px solid black;
    border-radius: 25px;
}
  
.private-room-div,
.dorm-bed-div {
    margin-left: 2%;
    margin-right: 20%;
    height: 185px;
    border: 2px solid lightgray;
    border-radius: 25px;
    margin-bottom: 15px;
    display: flex;
}

.room-description-box {
    width: 54%;
    margin-top: 10px;
    margin-left: 10px;
    height: 165px;
}

.room-title {
    font-family: Poppins-bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0.5%;
    margin-left: 5px;
}

.room-description {
    font-family: Poppins;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 5px;
}

.sleeps-info {
    display: flex;
    align-items: center;
  }
  
.sleeps-info img {
    margin-right: 5px;
}

.sleeps-info p {
    font-family: Poppins;
}

.line {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
  }

  .price-line {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
  }

.room-info {
    position: absolute;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0.5%;
}
  
.price-box {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    height: 165px;
    margin-top: 10px;
    width: 32.5%;
}

.price-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
  }

.price-box p {
    font-family: Poppins;
    font-size: 14px;
    /* margin-top: 15%; */
    margin-bottom: 15%;
}

.add-cart {
    font-family: Poppins-bold;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.add-cart:hover {
    box-shadow: 0 0 15px rgba(106, 106, 106, 0.5);
}

.about-description {
    font-family: Poppins;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 6.75em;
}

.read-more-hov {
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    margin-right: 20%;
    margin-left: 73%;
    width: 120px;
    padding-left: 1%;
}

.view-house-rules {
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    margin-right: 20%;
    margin-left: 68.5%;
    width: 200px;
    padding-left: 1%;
}

.read-more-hov:hover,
.view-house-rules:hover {
    background-color: rgb(245, 243, 243);
    border-radius: 15px 15px 15px 15px;
}

.read-more {
    font-family: Poppins-bold;
    text-decoration: underline; 
    color: black;
    font-size: 14px;
    margin-right: 5px;
}

.house-rules,
.facilities {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-right: 20%;
  }

  .angled-box {
    margin-top: 50px;
    position: relative;
    background-color: rgb(127, 50, 205);
    padding: 20px;
    transform-origin: top right;
    transform: skew(-6deg);
    height: 900px;
    width: 260px;
    margin-bottom: 5px;
}

.skewed-wrapper {
    transform: skew(6deg);
}

#reviews {
    margin-left: 15%;
    color: white;
    display: inline-block;
    margin-bottom: 1px;
    font-family: Poppins-bold;
    font-size: 30px;
    margin-bottom: 10px;
}

#review-box {
    margin-left: 15%;
    background-color: white;
    width: 280px;
    height: 350px;
    box-shadow: 5px 0 7px lightgray;
    border-radius: 9%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-rating-box {
    border: 1px solid black;
    width: 250px;
    height: 70px;
    margin-left: 6%;
    margin-bottom: 1%;
}

.rating-cats {
    margin-left: 10%;
    margin-right: 45%;
    font-family: Poppins;
    margin-bottom: 10px;
}

li {
    margin-bottom: 6px;
}

.show-reviews {
    display: flex;
    align-items: flex-start;
}

.side-divs {
    margin-top: 6.6%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 20%;
    width: 100%;
}

.side-div {
    height: 255px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 9px 1px rgb(225, 225, 225);
    border-radius: 25px 25px 25px 25px;
}

.fakemap {
    margin-top: 20px;
    position: relative;
    margin-left: 2%;
    margin-right: 20%;
    height: 200px;
    border-radius: 35px;
    margin-bottom: 50px;
    overflow: hidden;
}

.fakemap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://www.hostelworld.com/_nuxt/img/8a208fd.svg) center/100%;
  transform: scaleX(-1);
}


.location-text {
    position: absolute;
    left: 2%;
    font-family: 'Poppins-bold', sans-serif;
    font-size: 24px;
}

.address-info {
    position: absolute;
    top: 35%;
    font-family: 'Poppins';
    margin-left: 3.5%;
}

.address-info p {
    margin: 0px;
}

.mapsvg {
    position: absolute;
    left: 1.5%;
    top: 40%;
    width: 20px;
}

.viewMap {
    position: absolute;
    font-family: Poppins-bold;
    top: 60%;
    right: 2.5%;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.viewMap:hover {
    box-shadow: 0 0 15px rgba(106, 106, 106, 0.5);
}