.user-yellow-box {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    box-shadow: inset 0 100px 32px -100px rgba(0,0,0,.1);
}

.mid-div{
    margin-left: 5%;
    width: 75%;
    display: flex;
    flex-direction: row; 
    margin-bottom: 5rem;
}

.user-tabs {
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 4px 24px rgba(0,0,0,.15);
    padding: 0.5rem;
    position: sticky;
    width: 17.5%;
    z-index: 1;
    margin-top: -2rem;
    height: 12rem;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
}

.user-tabs-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
    padding-left: 2rem;
    flex: 1;
    margin-bottom: 0.5rem;
}

.user-tabs-cont:hover {
    background: #f1f2f4;
}

.user-tabs-cont:last-child {
    margin-bottom: 0;
}

.user-tabs-cont p {
    font-family: Inter;
    font-size: 1rem;
}

.user-tabs-cont.active {
    position: relative;
    box-shadow: inset 0 0 0 0.0625rem #a9afbb;
}

.check-mark2 {
  position: absolute;
  right: 1rem;
  font-size: 20px; 
}

.user-tabs-cont.active p {
    font-weight: 800;
}

.user-tabs-cont img {
    margin-left: -1rem;
    height: 1rem;
    width: 1rem;
}

.travel-stats {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 30%;
}

.travel-stats p:nth-of-type(1) {
    font-family: Inter-bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.travel-stats p:nth-of-type(2),
.travel-stats p:nth-of-type(3) {
    font-family: Inter;
    font-size: 0.75rem;
    letter-spacing: 0.2px;
    line-height: 1.33;
    margin-top: -.8rem;
}

.user-about {
    height: 10rem;
    width: 15%;
    padding-left: 22rem;
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.picture-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    border: 2.5px solid #d3d3d3;
    padding-right: -1rem;
  }

  .user-about p:nth-of-type(1) {
    font-family: Inter-bold;
    font-size: 2.5rem;
    line-height: 1.5rem;
  }

  .user-about p:nth-of-type(2) {
    font-family: Inter;
    font-size: 1.25rem;
    letter-spacing: .00625rem;
    line-height: 1.25rem;
    margin-top: -1rem;
  }

  .name-and-age {
    margin-top: -5rem;
    margin-left: -16rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .edit-about {
    margin-left: 3.5%;
    margin-top: -4.5rem;
    width: 45%;
    margin-bottom: -40px;
  }

  .edit-picture-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    border: 2.5px solid #d3d3d3;
    margin-bottom: 1rem;
  }

  .edit-about p,
  .my-trips p {
    font-family: Inter-bold;
    font-size: 1.8rem;
    letter-spacing: -.0125rem;
  }

  .four-inputs-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: .5rem;
}

.four-inputs-div input {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0.0625rem #a9afbb;
    font-family: Inter;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    margin-top: 0.5rem;
    height: 3.5rem; 
} 

.four-inputs-div input:hover {
    box-shadow: inset 0 0 0 0.125rem #a9afbb;
}

.four-inputs-div input:focus {
    outline: 2px solid black;
}

.input-with-label {
    position: relative;
    margin-bottom: -0.75rem;
}

.input-with-label label {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #636c7d;
    transition: all 0.3s ease;
    font-family: Inter;
    font-size: .75rem;
    letter-spacing: .0125rem;
    line-height: 1rem;
    transform: translateX(0) translateY(-0.5rem);
}

#blankNationality{
  top: 50%;
  transform: translateY(-50%);
  transition: top .2s cubic-bezier(0,0,.2,1) 0ms, font-size .2s cubic-bezier(0,0,.2,1) 0ms;
  font-size: 1rem;
  height: 40px;
  letter-spacing: 0;
}

#input-with-label-nat::after {
  content: '▼';
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%); 
  pointer-events: none; 
  font-size: 10px;
  color: black;
  cursor: pointer;
}

#fullName,
#dateofBirth,
#nationality,
#email {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
}

.four-inputs-div input[disabled] {
    cursor: not-allowed;
    opacity: 0.6; 
    pointer-events: none;
}

.four-inputs-div input[disabled]:hover {
    box-shadow: none;
}

.two-button-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: .5rem;
  width: 33.75%;
  margin-left: 27.5%;
}

.edit-user-button {
    background: #f25621;
    border: none;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    font-family: Inter-bold;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none;
    padding: 0.75rem 1.5rem;
}

.edit-user-button:hover {
  box-shadow: 0 0 10px 3px rgba(242, 86, 33, 0.7); 
}

.save-new-password-button {
  box-shadow: rgb(18, 20, 23) 0px 0px 0px 0.125rem inset;
  color: rgb(18, 20, 23);
  cursor: pointer;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 800;
  height: 3rem;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1.5rem;
  background: none;
  border-style: none;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
}

.save-new-password-button:hover {
  box-shadow: rgb(18, 20, 23) 0px 0px 0px 0.125rem inset, rgba(18, 20, 23, 0.2) 0px 8px 24px;
  color: rgb(18, 20, 23);
}

.key-icon {
  width: 16px;
  height: 16px;
}

.confirmation-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(1, 164, 1);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    animation: fadeInRight 0.5s ease-in-out;
    font-family: Inter;
    font-size: 1rem;
    z-index: 100;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .edit-user-button.disabled {
    pointer-events: none; 
    opacity: 0.5;
  }

  .my-trips {
    margin-left: 5%;
    width: 40%;
    margin-top: -4rem;
  }

  .bus-div img {
    height: 5rem;
    width: 5rem;
  }

  .bus-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
  }

  .other-ready {
    margin-left: 2%;
  }

  #other {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.00625rem;
  }

  #ready {
    font-size: .875rem;
    font-family: Poppins,Inter,-apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 300;
    letter-spacing: -.00625rem;
    margin-top: -1rem;
  }

  .future-booking {
    grid-gap: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: inset 0 0 0 0.0625rem #dddfe4;
    display: grid;
    grid-template-rows: 7.5rem auto auto;
    padding: 0.5rem;
    width: 57.5%;
    margin-bottom: 1.5rem;
  }

  .future-picture {
    border-radius: 1rem;
    background-color: #f1f2f4;
  }

  .future-picture img,
  .reservation-picture img,
  .past-picture img {
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .future-booking p:nth-of-type(1) {
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-left: 2%;
  }

  .icon-and-text p:nth-of-type(1) {
    font-size: 1rem;
    margin-top: -1rem;
    margin-left: 2%;
    font-weight: 300;
    font-family: Poppins,Inter,-apple-system,BlinkMacSystemFont,sans-serif;
  }

  .icon-and-text p:nth-of-type(2) {
    font-size: 1rem;
    margin-top: -1.5rem;
    margin-left: 2%;
    font-weight: 300;
    font-family: Poppins,Inter,-apple-system,BlinkMacSystemFont,sans-serif;
    margin-bottom: 0rem;
  }

.icon-and-text{
    display: flex;
    flex-direction: row;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-top: -.75rem;
    margin-left: .5rem;
  }

.outer-past-div {
    display: flex;
}

.past-booking {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: inset 0 0 0 0.0625rem #dddfe4;
    padding: 0.5rem;
    width: 120%;
    margin-bottom: 1.5rem;
}

.past-booking:hover,
.future-booking:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,.1);
}

  .past-picture {
    border-radius: 1rem;
    background-color: #f1f2f4;
    width: 20%;
    height: 7rem;
  }

  .past-booking p:nth-of-type(1) {
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-left: 2%;
  }

  .past-icon-and-text p:nth-of-type(1) {
    font-size: 1rem;
    margin-top: 0rem;
    margin-left: 2%;
    font-weight: 300;
    font-family: Poppins,Inter,-apple-system,BlinkMacSystemFont,sans-serif;
  }

  .past-icon-and-text:nth-of-type(2){
    margin-top: -1rem;
  }

.past-icon-and-text{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.past-icon {
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-top: .25rem;
    margin-left: .5rem;
}

  .past-trip-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-left: 5%;
    width: 70%;
}

  .past-review-div {
    display: flex;
    align-items: center;
    background-color: #f1f2f4;
    border: 0.0625rem solid #dddfe4;
    border-radius: 0 0 1.4375rem 1.4375rem;
    border-top-width: 0;
    justify-content: space-between;
    margin: 0 -0.5rem -0.5rem;
    height: 3rem;
    margin-top: -1rem; 
}

.past-num-div{
    margin-left: 2%;
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.past-num-div img{
  width: 16px;
  height: 16px;
  margin-top: -7px;
  margin-right: 5px;
}

.leave-review {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
}

.leave-review p:hover {
  cursor: pointer;
}

.leave-review img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.reservation-info {
  background-color: #ebfffd;
  clip-path: polygon(0 0,100% 3rem,100% 100%, 0px 100%);
  padding: 1.75rem 1rem 2rem;
  position: relative;
}

.reservation-info2 {
  background-color: #ebfffd;;
  padding: 1.75rem 1rem 6rem;
  width: 95%;
  position: absolute;
  z-index: -1;
}

.back-to-my-trips {
  align-items: center;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  letter-spacing: .00625rem;
  line-height: 1.25rem;
  padding: 0.875rem 1.5rem;
  width: 30%;
  text-align: center;
}

.back-to-my-trips:hover{
  background: #f1f2f4;
}

.back-to-my-trips p {
  font-family: Inter-bold;
  font-size: .875rem;
}

.reservation-picture {
  margin-top: 1rem;
  border-radius: 1.5rem;
  height: 15.5rem;
  width: 650px;
  background-color: #f1f2f4;;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  margin-top: -3rem;
}

.found-listing-name {
  font-family: Inter-bold;
  letter-spacing: -.0125rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
}

.trips-maps-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.25rem;
  flex: 1;
  margin-bottom: 0.5rem;
  align-items: center;
  background: #fff;
  border-radius: 1.25rem;
  box-shadow: inset 0 0 0 0.125rem #dddfe4;
  box-sizing: border-box;
  width: 15%;
}

.trips-maps-button:hover {
  background: #f1f2f4;
}


.trips-maps-button p {
  font-family: Inter;
  font-size: 1rem;
}

.trips-maps-button img {
  margin-left: -1rem;
  height: 1rem;
  width: 1rem;
}

.reservation-info-buttons {
  margin-top: 5rem;
  margin-left: 27.5%;
}
.reservation-info-button {
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  justify-content: space-between;
  outline: none;
  width: 21.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.reservation-info-button-inner {
  align-items: center;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

.reservation-info-button-inner img {
  margin-right: 5px;
  margin-top: 0px;
}

.reservation-info-button:hover{
  background-color: rgba(0,224,206,.1);
}

.reservation-info-button p {
  font-family: Inter;
  font-size: 1rem;
}

.trip-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    margin-top: -.75rem;
    margin-left: .5rem;
}

.review-button {
  margin-top: 10px;
  fill: #fff;
  align-items: center;
  background: #f25621;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Inter-bold;
  font-size: 1rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  width: 21.5%;
  flex-direction: row;
  display: inline-flex;
  justify-content: center;
}


.review-button img {
    height: 20px;
    width: 20px;
}

.review-button:hover {
  box-shadow: 0 8px 24px rgba(242,85,33,.35);
  color: #fff;
}