
.insta-pics {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin: 0 auto;
      max-width: 100rem;
      padding: 1.5rem 0 2.5rem 1rem;
  }
  
  .insta-pics-content {
    display: flex;
    justify-content: space-between;
  }
  
  .insta-pics h2 {
    font-family: Poppins-bold;
    letter-spacing: -.0125rem;
    font-size: 1.75rem;
    line-height: 2.125rem;
    margin-bottom: 0px;
  }
  
  .insta-pics h3 {
    margin-top: 0px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 1.5rem;
      font-weight: 400;
  }
  
  .insta-pics-content {
    margin-top: 3.375rem;
    display: flex
  }
  
  .insta-column1 {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
  }
  
  .insta-pic {
    border-radius: 1.5rem;
    display: block;
    height: 18.5rem;
    width: 13.75rem;
    object-fit: cover;
    position: relative;
  }
  
  .inner-span {
    position: absolute;
    background-color: #121417;
    color: #fff;
    margin-top: -17rem;
    padding: 0.25rem 0.5rem;
    font-family: Poppins-bold;
    letter-spacing: -.00625rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
  
  .insta-social {
    color: #636c7d;
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem;
      width: 13.75rem;
      margin-bottom: 2rem;
  }
  
  .insta-social img {
    align-self: center;
      color: inherit;
      display: inline-grid;
      font-size: inherit;
      letter-spacing: normal;
      line-height: 1;
      width: 16px;
      height: 16px;
      margin-right: 5px;
  }
  
  .insta-social span {
    margin-left: 0.2rem;
    color: #636c7d;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
  }