.log-container {
    display: flex;
  }
  
  .loginContainer,
  .car-container {
    flex: 1;
  }
  
  .loginContainer {
    background-color: white;
    max-width: 50%; 
  }
  
  .car-container {
    margin-top: 2%;
  }

  .loginBox {
    margin-left: 30%;
    width: 40%;
    margin-top: 15%;
  }

h1 {
    color: black;
    font-size: 24px;
    font-family: Poppins-bold;
    margin-top: 25px;
}

p {
    color: black;
    font-size: 14px;
}

form {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: Inter;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: Inter;
    font-size: 14px;
}

#loginButton {
    width: 100%;
    height: 50px;
    background-color: #F25621;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#loginButton:hover {
    background-color: #c44c24;
}

.link {
    display: block;
    margin-top: 14px;
    font-family: Inter;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }

#bottom {
    text-align: center;
}

img {
    width: 90%;
    height: auto;
}

#loginButton::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: #ddd; 
    position: absolute;
    bottom: -15px;
    left: 10%;
}