.log-container {
    display: flex;
  }
  
  .loginContainer,
  .car-container {
    flex: 1;
  }
  
  .loginContainer {
    background-color: white;
    max-width: 50%; 
  }
  
  .car-container {
    margin-top: 2%;
  }

  .loginBox {
    margin-left: 32.5%;
    width: 34%;
    margin-top: 5rem
  }

h1 {
    color: black;
    font-size: 24px;
    font-family: Poppins-bold;
    margin-top: 25px;
    line-height: 32px;
}

p {
    color: black;
    font-size: 14px;
}

.log-in-p {
  font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 400;
    margin-bottom: 16px;
    background-color: #ffff;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

form {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

input {
    width: 100%;
    height: 55px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#loginButton {
    width: 100%;
    height: 50px;
    background-color: #F25621;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#loginButton:hover {
    background-color: #c44c24;
}

.link {
    display: block;
    margin-top: 14px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }

#bottom {
    text-align: center;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

img {
    width: 90%;
    height: auto;
}

#loginButton::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: #ddd; 
    position: absolute;
    bottom: -15px;
    left: 10%;
}

.input-wrapper-login input {
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    text-overflow: ellipsis;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.input-wrapper-login input:focus {
  outline: none;
  border: 1px solid lightgray;
}

.input-wrapper-login input:focus + .input-label5,
.input-wrapper-login input:placeholder-shown + .input-label5,
.input-wrapper-login.non-empty input + .input-label5 {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0125rem;
    line-height: 1rem;
    transform: translateX(0) translateY(-0.5rem);
    /* margin-top: -5px; */
    margin-top: -3.6rem;
}

.input-label5 {
  color: rgb(99, 108, 125);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* left: 0px; */
    letter-spacing: 0px;
    line-height: 1.5rem;
    overflow-x: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    /* top: 0px; */
    /* width: 100%; */
    z-index: 1;
    /* padding: 1rem; */
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    margin-left: 1rem;
    margin-top: -3.5rem;
}