.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8px;
  height: 100%;
}

.container-conf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 70%; */
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  /* margin-top: 8px; */
  background: #31363f;
  height: 100%;
}

.left-content {
  display: flex;
  align-items: center;
}

.left-content-img {
  width: 50px;
}

.WOF-conf {
  color: white;
  font-family: Poppins-bold;
  font-size: 30px;
  font-weight:900
}

.conf-header{
  width: 60%;
}

.WOF {
  color: #e45b2e;
  font-family: Poppins-bold;
  font-size: 20px;
  font-weight:900
}

.circles {
  display: flex;
}

.circle img {
  display: block; 
  margin: auto;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  border: 2.5px solid #d3d3d3;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listings-header {
  margin-left: 2.8%;
  margin-right: 3%;
}

.listings-header2 {
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.LWOF {
  color: #e45b2e;
  font-family: Poppins-bold;
  font-size: 20px;
  font-weight: 900;
  padding-top: 0%;
}

.lcircle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  border: 2.5px solid #d3d3d3;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lcircle img {
  max-width: 75%;
  max-height: 75%;
  display: block; 
  margin: auto;
  margin-left: 12.5%;
}

.popover {
  background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    cursor: auto;
    margin-top: 0.5rem;
    min-width: 15.625rem;
    overflow-y: hidden;
    padding: 0.25rem 0;
    position: absolute;
    right: 0.5rem;
    top: 3.75rem;
    z-index: 300;
    margin-right: 12.5%;
}

.popover-menu-body {
  padding: 0.5rem;
}

.avatar-and-name {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.avatar-and-name p {
  font-family: Inter-bold;
  font-size: 1rem;
  margin-left: 5px;
}

.select-list {
  background: #fff;
  width: 100%;
}

.select-list-menu {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-height: 5.5rem;
  /* min-width: 100%; */
  overflow-y: auto;
  /* padding: 1rem; */
}

.list-item {
  list-style: none;
  outline: none;
  margin: 0px;
}

.item-button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 1rem;
  color: #121417;
  cursor: pointer;
  display: flex;
  font-family: Inter;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0px;
  outline: none;
  width: 100%;
}

.item-button img {
  width: 20px;
  height: 20px;
}

.item-button:hover {
  background: #f1f2f4;
}

.item-button-icon {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  align-self: center;
  display: grid;
  letter-spacing: normal;
  line-height: 0;
  margin-right: 1rem;
  width: 1rem; 
}

.item-button-text {
  color: #121417;
  cursor: pointer;
  font-family: Inter;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: left;
}

.circle-21 {
  width: 21px;
   height: 21px;
}

.circle-28 {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.circle-12 {
  width: 12px; 
  margin-left: 30%;
}